@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');


$color_sedans : #E28525;
$color_suvs : #016972;
$color_luxury : #00403F;

main {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 90%;
    margin: auto;
    color: white;

    article {
        padding: 40px;

        h2 {
            text-transform: uppercase;
            padding-top: 10px;
            padding-bottom: 10px;
            font-size: 1.8em;
            font-family: 'Big Shoulders Display', sans-serif;
        }
        p {
            opacity: .8;
            font-family: 'Luxend Deca', sans-serif;
            line-height: 1.5em;
            margin-bottom: 40px;
        }
        .btn {
            border-radius: 30px;
            border: none;
            background-color: white;
            width: 150px;
            height: 50px;
            font-weight: bold;
            margin: 10px 0 10px 0;

        }
    }

    #sedans {
        background-color: $color_sedans;
        border-radius: 10px 0 0 10px;
        button {
            color: $color_sedans;
            &:hover {
                background-color: $color_sedans;
            }
        }
    }
    #suvs {
        background-color: $color_suvs;
        button {
            color: $color_suvs;
            &:hover {
                background-color: $color_suvs;
            }
        }
    }
    #luxury {
        background-color: $color_luxury;
        border-radius: 0 10px 10px 0;
        button {
            color: $color_luxury;
            &:hover {
                background-color: $color_luxury;
            }
        }
    }

    .btn {
        display: block;
        cursor: pointer;
        &:hover {
            color: white !important;
            border: 1px solid white;
        }
    }
}

@media (max-width: 1200px) {

   main {
       display: block;
       flex-direction: column;
       width: 90%;
       margin: auto;

       article {
           border-radius: 0;
           p {
               line-height: 1.7em;
           }
       }
       #sedans {
           border-radius: 10px 10px 0 0;
       }
       #luxury {
           border-radius: 0 0 10px 10px;
       }
   }

    
}